.header {
  border-bottom: 1px solid #ececec;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: flex;
  align-items: center;
}

.header-navigation__item {
  @include section(32px, 32px);
  // padding-top: 32px;
  // padding-bottom: 32px;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-navigation__link {
  @include section(32px, 32px);
  // padding-top: 32px;
  // padding-bottom: 32px;
  @include font(null, 14px, 500, 1.14, 0.02em, var(--primary-title-color));
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  // color: var(--primary-title-color);
  position: relative;

  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-link {
  color: var(--accent-color);
}

.header-contact__list {
  display: flex;
  margin-left: auto;
}

.header-contact__link {
  @include section(32px, 32px);
  // padding-top: 32px;
  // padding-bottom: 32px;
  display: flex;
  align-items: center;

  @include font(null, 14px, 500, 1.14, 0.02em, var(--secondary-text-color));
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  // color: var(--secondary-text-color);
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;

  transition: fill var(--timing-function);
  .header-contact__link:hover &,
  .header-contact__link:focus & {
    fill: var(--accent-color);
  }
}
