.hero-section {
  @include section(200px, 200px);
  // padding-top: 200px;
  // padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--background-primary-color);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero-section__title {
  max-width: 696px;
  margin-bottom: 30px;
  @include font(null, 44px, 900, 1.36, 0.06em, var(--secondary-title-color));
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;
  // color: var(--secondary-title-color);
  text-align: center;
  text-transform: uppercase;
}

.hero-section__btn {
  display: flex;
  margin: 0 auto;

  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background: var(--accent-color);
  border-radius: 4px;
}
