.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--timing-function), visibility var(--timing-function);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .modal {
      transform: scale(2) rotate(360deg);
      background-color: var(--accent-color);
    }
  }
}
