.logo {
  @include font(Raleway, 26px, 700, 1.19, 0.03em, var(--accent-color));
}
.logo-link {
  // margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-name {
  color: var(--primary-title-color);
}
