.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) rotate(-360deg);
  transition: transform 300ms;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  &:hover .modal__icon-close,
  &:focus .modal__icon-close {
    cursor: pointer;
    fill: var(--accent-color);
  }
}

.modal__icon-close {
  width: 11px;
  height: 11px;
  transition: fill var(--timing-function);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}
.modal__field {
  margin-bottom: 10px;
}
.modal__field_last {
  margin-bottom: 20px;
}

.modal__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
}
.input-wrapper {
  display: block;
  position: relative;
}

.modal__input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 2px 2px 2px 42px;
  outline: none;
  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }

  &:focus + .modal__icon,
  &:hover + .modal__icon {
    fill: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--timing-function);
}

.modal__text-input {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  background: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--secondary-title-color);
  background-color: #188ce8;
  border-radius: 4px;
  transition: background-color var(--timing-function),
    box-shadow var(--timing-function);
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
  }
}

.modal-checkbox__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-title-color);
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: border-color var(--timing-function),
      background-color var(--timing-function), box-shadow var(--timing-function);
  }
  &:hover span,
  &:focus span {
    border-color: var(--accent-color);
  }
}

.modal-checkbox {
  &:checked + .modal-checkbox__text span {
    background-color: var(--accent-color);
    border: none;
    box-shadow: none;
  }
  &:focus + .modal-checkbox__text span {
    border: 2px solid var(--accent-color);
  }
}

.police-link {
  margin-left: 2px;
  color: var(--accent-color);
}
